body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 14px;
  color: #383a42;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #383a42;
  margin-top: 100px;
  font-weight: 200;
  font-size: 1.2em;
}

#color1,
#color2 {
  margin: 0px 10px;
}

#css {
  font-family: monospace;
  letter-spacing: 2px;
  color: #333333;
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.2em;
}
